<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :city %>
      <%= f.select( :country, options_for_select([["Tel-Aviv","Israel"],
                                                 ["San-Francisco","United States"],
                                                 ["New-York","United States"],
                                                 ["Mars","The milky way"]]), :prompt => 'Select city') %>

       <%= f.label :date_of_birth, "Date of birth" %>                                         	
       <%= f.date_select :date_of_birth, :start_year => 1920, 
                         :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>                                      
        <script>
        var RecaptchaOptions = {theme:'clean'};
        </script>
        <%= render '/shared/recaptcha' %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>