<% provide(:title, "Additional fields") %>
<h1>Additional fields</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:reservation, url: reservations_path) do |f| %>

      <%= f.label :original_price, "Original price" %>
      <%= f.text_field :original_price %>

      <%= f.label :reserved_price, "Reserved price" %>
      <%= f.text_field :reserved_price %>

      <%= f.label :payment, "How do you want to recieve the money?" %>
      <%= f.select( :payment, options_for_select([["PayPal","Israel"],
                                                 ["Check","United States"],
                                                 ["Cash","United States"]]),
                                                 :prompt => 'Select payment') %>      
    <% end %>

	<%= link_to "Next!", show_reservation_path, class: "btn btn-large btn-primary" %>
  </div>
</div>